<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <style type="text/css" media="screen">
        #data {
            font-family: 'Roboto Mono', monospace;
            font-size: 14px;
            width: 100%;
            height: 100%;
            min-height: 65vh;
        }
        #resultingPlan {
            font-family: 'Roboto Mono', monospace;
            font-size: 14px;
            width: 100%;
            height: 100%;
            min-height: 85vh;
        }
    </style>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Stateless PlanDefinition Evaluator</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1>Stateless PlanDefinition Evaluator</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <form method="POST" id="data-form">
                    <div id="data-group" class="form-group">
                        <label for="data">With Repository</label>

                        <div id="data" name="data">{
  "resourceType": "Bundle",
  "id": "ConditionalPlanDef-Data-1.0.0",
  "type": "transaction",
  "entry": [
    {
      "resource": {
        "resourceType": "Patient",
        "id": "Test-Patient",
        "gender": "female"
      },
      "request": {
        "method": "PUT",
        "url": "Patient/ConditionalPlanDef-Test-Patient"
      }
    },
    {
      "resource": {
        "resourceType": "Encounter",
        "id": "Test-Encounter",
        "status": "in-progress",
        "subject": {
          "reference": "Patient/Test-Patient"
        }
      },
      "request": {
        "method": "PUT",
        "url": "Encounter/ConditionalPlanDef-Test-Encouter"
      }
    },
    {
      "resource": {
        "resourceType": "ActivityDefinition",
        "id": "MedicationRequest-1",
        "url": "http://localhost/ActivityDefinition/MedicationRequest-1",
        "status": "active",
        "kind": "MedicationRequest",
        "productCodeableConcept": {
          "text": "Medication 1"
        }
      },
      "request": {
        "method": "PUT",
        "url": "ActivityDefinition/ConditionalPlanDef-MedicationRequest-1.0.0"
      }
    },
    {
      "resource": {
        "resourceType": "PlanDefinition",
        "id": "Test-PlanDefinitionCondition-1.0.0",
        "url": "http://localhost/PlanDefinition/Test-PlanDefinitionCondition-1.0.0",
        "status": "active",
        "action": [
          {
            "definitionCanonical": "http://localhost/ActivityDefinition/MedicationRequest-1"
          }
        ]
      },
      "request": {
        "method": "PUT",
        "url": "PlanDefinition/ConditionalPlanDef-PlanDefinition-1.0.0"
      }
    }
  ]
}
                        </div>
                    </div>

                    <div id="plandef-group" class="form-group">
                        <label for="planDefinitionUrl">Run PlanDefinition URL</label>
                        <input type="text" class="form-control" id="planDefinitionUrl" name="planDefinitionUrl" placeholder="http://localhost/PlanDefinition/Test-PlanDefinitionCondition-1.0.0" value="http://localhost/PlanDefinition/Test-PlanDefinitionCondition-1.0.0" />
                    </div>

                    <div id="patient-group" class="form-group">
                        <label for="subject">On Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Patient/Test-Patient" value="Patient/Test-Patient" />
                    </div>

                    <div id="encounter-group" class="form-group">
                        <label for="encounterID">At Encounter ID</label>
                        <input type="text" class="form-control" id="encounterID" name="encounterID" placeholder="Test-Encounter" value="Test-Encounter"/>
                    </div>

                    <button type="submit" class="btn btn-success">
                        Submit
                    </button>
                </form>
            </div>

            <div class="col-xs-12 col-sm-6">
                <label for="resultingPlan">Resulting Care Plan</label>
                <div id="resultingPlan" name="resultingPlan">{}</div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("data");
        editor.setTheme("ace/theme/textmate");
        editor.session.setMode("ace/mode/json");

        var editor2 = ace.edit("resultingPlan");
        editor2.setTheme("ace/theme/textmate");
        editor2.session.setMode("ace/mode/json");

        $("#data-form").on("submit", function (e) {
            e.preventDefault();

            let fhirPayload = JSON.parse(editor.getValue());
            let msg = {
                encounterID: $('#encounterID').val(),
                subject: $('#subject').val(),
                planDefinitionUrl: $('#planDefinitionUrl').val(),
                data: fhirPayload
            }

            $.ajax({
                url: '/evaluate', // url where to submit the request
                type : "POST", // type of action POST || GET
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(msg),
                success : function(result) {
                    editor2.setValue(JSON.stringify(result, null, 2));
                },
                error: function(xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            })
        });
    </script>
</body>
</html>